.myhome-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px 150px 40px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myhome-card{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 9px solid #002629;
    border-radius: 20px;
    display: flex;
}
.myhome-left{
    flex:0 30%;
    height: auto;
    background-color: #36735B;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.myhome-left li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myhome-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #36735B;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myhome-image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;

}
.myhome-textname{
    width: 90px;
    height: 50px;
    border-bottom: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
    color: white;
}
.myhome-left p{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.nfc-image img{
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
}

/* right */
.myhome-right{
    width: 100%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myhome-right-title{
    width: 500px;
    height: 90px;
    border: 2px solid #255B4B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-weight: bold;
    color: #1E5145;

}
.myhome-right ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.myhome-right li{
    width: 300px;
    padding: 7px;
}
.myhome-item{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 17px;
    color: #3F3D3D;
}
.myhome-item img{
    width: 30px;
    margin-right: 30px;
}
